<div class="ui one column center aligned grid">	
 		<div class="column">
			<h1>Programas </h1>
		</div>     


<div class="seven wide computer column">
	<div class="ui green segment">
	<%= link_to riesgo_path do%>
		<h2 class="ui center aligned icon header">
			<%= (image_tag("riesgo.png", :class => "ui centered small rounded image")) %>
			<div class="content">
				Gestion de Riesgo				
			</div>			
		</h2>		
		<%end%>
	</div>
</div>



<div class="seven wide computer column">
	<div class="ui green segment">	
	<!-- Enlace pendiente-->
		<h2 class="ui center aligned icon header">
			<%= (image_tag("psicosocial.png", :class => "ui centered tiny rounded image")) %>
			<div class="content">
				Atencion Psicosocial
			</div>
		</h2>		
	
	</div>
</div>


</div>
	