
<div class="ui two column left aligned grid ">
<div class="one wide column"></div>
	<div class="column">
		<h1>Agregar Municipio</h1>
	
	<div class="seven wide computer column">
	<%= render 'form' %>	
	</div>
	</div>
	
	
</div>