
<div class="ui two column left aligned grid ">
<div class="one wide column"></div>
	<div class="fourteen wide column">
		<h1>Editando Encuestado</h1>
	
	<div class="sixteen wide computer column">
	<%= render 'form' %>	
	</div>
	</div>
	
	
</div>