<div class="ui two column left aligned grid ">
<div class="one wide column"></div>
  <div class="column">

<%if flash[:notice]%>
<div class="ui success message">
<div class="header">Formulario Completado</div>
<p><%= notice %></p>
</div>
<% end %>

<p>
  <strong>Nombre:</strong>
  <%= @consultorio.nombre %>
</p>

<%= link_to 'Editar', edit_consultorio_path(@consultorio), class: "ui button"%>|
 <%= link_to 'Regresar', consultorios_path, class: "ui button"%>

    
</div>
</div>

