<p>Bienvenido <%= @email %>!</p>

<p>Puedes confirmar tu cuenta con el Link que aparece a continuacion:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
